
/* Hangman Stuff */
body {
  /*background-color: #337AB7;*/
  padding-top: 60px;
  font-family: "Verdana";
  /*color: white;*/
}


.game-page {
  /*color: white;*/
  /*background-color: #337AB7;*/
}
h1 {
  margin: 20px;
}
/*
*{
  text-align: center;
}*/

.secretWord {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 3rem;
}

.letter-button:disabled {
  opacity: 0.5;
  color: black;
}

.gif-image-box {
  height: 200px;
  width: 200px;
}

.images-row {
  margin-top: 5px;
  margin-bottom: 20px;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.black-text {
  color: black;
}

