<div class='container game-page'>
    <div class='text-center'>
        <h1>Gifman!</h1>
    </div>
    <div class='text-center' ng-if='!start'>
        <h1>Waiting for other players......</h1>
    </div>
    <div ng-if='start'>
        <div class='text-center'>
            <h1 class='gameTitle'>Look at the gifs and guess the word!</h1>
        </div>
        <div class="container-fluid text-center">
            <div class="row images-row">
                <div class='col-xs-12 col-sm-3'>
                    <img class="gif-image-box" src={{img1}} alt="img">
                </div>
                <div class='col-xs-12 col-sm-3'>
                    <img class="gif-image-box" src={{img2}} alt="img">
                </div>
                <div class='col-xs-12 col-sm-3'>
                    <img class="gif-image-box" src={{img3}} alt="img">
                </div>
                <div class='col-xs-12 col-sm-3'>
                    <img class="gif-image-box" src={{img4}} alt="img">
                </div>
            </div>
            <div class="row">
                <div class="well">
                    <div class="secretWord">
                        <ul class="list-inline">
                            <li ng-repeat="letter in secretWord">
                                <span class="black-text" ng-hide="letter.chosen">_</span>
                                <span class='black-text' ng-show="letter.chosen">{{ letter.name }}</span>
                            </li>
                        </ul>
                        <div class="letters">
                            <ul class="list-inline">
                                <li ng-repeat="letter in letters">
                                    <button class="btn btn-primary letter-button" ng-disabled="letter.chosen" ng-click="try(letter);">{{letter.name}}</button>
                                </li>
                            </ul>
                        </div>
                        <p>
                            <span class="black-text" ng-hide="win || lost">You have {{ missesAllowed - numMisses }} guesses remaining.</span>
                            <span class='black-text' ng-show="win">Well done!</span>
                            <span class='black-text' ng-show="lost">You lost. Please wait for the other player(s) to finish.</span>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
