<h3>New Game</h3>

<table class="table">
  <tbody>
    <tr ng-repeat='user in users track by $index'>
      <td>{{user.email}}</td>
      <td>

        <input type="checkbox" value='{{user._id}}' ng-model='user.selected'>
      </td>
      <!-- <td>
         Admin: <md-switch class='md-primary' ng-model="user.admin" aria-label="Switch 1" ng-click='toggleAdmin(user)'></md-switch>
      </td> -->
    </tr>
  </tbody>
</table>
<button class="btn btn-primary btn-block" ng-click='sendInvites()'>Send Invites</button>


<div>


</div>